{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
</head>
<body>
	{% block body %}
	<div class="container">
		{% if messages %}
		{% for message in messages %}
		<div class="row justify-content-center">
			<div class="col-sm-8">
				<div class="alert alert-danger">{{ message }}</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}

		<div class="row justify-content-center">

			<div class="col-sm-4">
				<h1>Registration</h1>
				<div class="form-group well">
					<form action="/register" method="post">
						{% csrf_token %}
						<label for="first_name">First Name:</label>
						<input class="form-control" type="text" name="first_name">

						<label for="last_name">Last Name:</label>
						<input class="form-control" type="text" name="last_name"></p>

						<label for="email">Email:</label>
						<input class="form-control email" type="email" name="email"></p>

						<label for="password">Password:</label>
						<input class="form-control" type="password" name="password"></p>

						<label for="confirm_pw">Confirm Password:</label>
						<input class="form-control" type="password" name="confirm_pw"></p>

						<input class="btn btn-primary" type="submit" name="submit" value="Register">
					</form>
				</div>
			</div>

			<div class="col-sm-4">
				<h1>Login</h1>
				<div class="form-group well">
					<form action="/login" method="post">
						{% csrf_token %}
						<label for="email">Email:</label>
						<input class="form-control" type="email" name="email"></p>

						<label for="password">Password:</label>
						<input class="form-control" type="password" name="password"></p>

						<input class="btn btn-primary" type="submit" name="submit" value="Login"></p>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
{% endblock %}
